<h1 class= "welcome" >Identify Yourself Tenno!</h1>
<form name="postForm" ng-controller="PostController as pstCtrl" ng-submit="postForm.$valid && pstCtrl.addPost(user)" novalidate>
    <input class="frontdoor" type= "E-mail" placeholder= "E-mail" required>
    <input class="frontdoor" type= "username" placeholder= "Username" ng-model="post.username" required>
    <input class="frontdoor" type= "alias" placeholder= "In game name" ng-model="post.alias" required>
    <select ng-model="post.rank" name="masteryrank" id="rank">
        <option value= "1">Mastery Rank 1-5</option>
        <option value= "2">Mastery Rank 6-10</option>
        <option value= "3">Mastery Rank 11-15</option>
        <option value= "4">Mastery Rank 16-20</option>
        <option value= "5">Mastery Rank 21-25</option>
        <option value= "6">Mastery Rank 26-30</option>
    </select>
    <textarea class="textarea" type= "Message" placeholder= "Thoughts for the lotus" ng-model="post.message" required/>
    <div class="validate" >Tenno, your form is {{pstCrtl.postForm.$valid}}</div>
    <input type="submit" value="submit" class="frontdoor">
</form>
<h2 class="username">{{pstCrtl.post.username}}</h2>
<h1 class="alias">{{pstCrtl.post.alias}}</h1>
<div class="message">{{pstCrtl.post.message}}</div>

<a href="#/list">
    <button class="frontdoor">Consighn to the Darksector</button>
</a>