<div class="banner">
    <h2 class= "welcome" >Single Post</h2>
</div>
<div class="posts" ng-controller="singleController" style="border: 2px solid goldenrod; border-right-width:20px; margin-top: 5px" >
    <h3 class= "listinfo">Tenno: {{data.alias}}</h3>
    <h3 class= "listinfo">User: {{data.user}}</h3>
    <h5 class= "listinfo">Message: {{data.message}}</h5>
</div>
<a href="#/list">
        <button type="submit" value="submit" class="frontdoor" class="frontdoor">Return to the Darksecter</button>
</a>